* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto;
}

header {
    background: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    grid-column: 1 / 3;
}

header h1 {
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(10, 10, 10);
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}

main {
    background: rgb(160, 160, 160);
    grid-column: 1 / 2;
}

main p {
    padding: 1rem;
}

footer {
    background: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    text-align: center;
    grid-column: 1 / 3;
}

footer p {
    padding: 1rem;
}

/* class selectors */

.right-aside {
    grid-column: 2 / 3;
}

.right-aside p {
    padding: 1rem;
}