/*  font-family: "Space Mono", monospace; font-weight: 400; font-style: normal; */

:root {
    --italy-background: linear-gradient(to right, green, white, white, red);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background: var(--italy-background);
    border: 1px solid rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

figure {
    margin: 0px;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: white;
}

footer {
    text-align: center;
    font-size: 0.85rem;
    background: var(--italy-background);
    border: 1px solid rgb(0, 0, 0);
    padding: 1rem;
}

.section-a ul{
    list-style: none;
}

.hero img {
    display: none;
}

.weather-svg {
    height: 3rem;
    width: auto;
}

@media (min-width: 900px) {
    h3::after {
        content: "⛅";
    }

    .hero {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .image-small {
        display: none;
    }

    .section-a {
        position: absolute;
        top: 8rem;
        left: 2rem;
        max-width: 300px;
        padding: 1rem;
        margin: 1rem;
    }

    .section-b {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        max-width: 300px;
        padding: 1rem;
        margin: 1rem;
    }

    .weather-svg {
        display: none;
    }
}